<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ leogout_seo() }}
    {% block stylesheets %}

    {% endblock %}

</head>

<body id="{% block body_id %}{% endblock %}">

{% block header %}
    <header>
        <div class="navbar-fixed">
        <nav class="teal lighten-2" role="navigation">
            <div class="nav-wrapper">
                <a id="logo-container" href="/" class="brand-logo">
                    <img id="logo" src="{{ asset('img/Logo.png') }}" />
                </a>
                <div class="hide-on-med-and-up show-on-small container" style="width: min-content !important">
                    <div class="heading-container-small">
                    <a href="/">
                        <h4 class="m-0 heading-title-small"><span style="color: #565D96">arena</span>-<span style="color: #DC0024">park</span>.ch</h4>
                        <span class="m-0 heading-subtitle">voyagez l'esprit libre</span>
                    </a>
                    </div>
                </div>

                <div class="hide-on-small-only show-on-medium-and-up" style="display: inline-block">
                    <div class="heading-container">
                    <a href="/">
                        <h4 class="m-0 heading-title"><span style="color: #311b92">arena</span>-<span style="color: #DC0024">park</span>.ch</h4>
                        <span class="m-0 heading-subtitle">voyagez l'esprit libre</span>
                    </a>
                    </div>
                </div>
                <ul class="right hide-on-med-and-down menu-tab">
                    <li {% if home is defined %}class="active"{% endif %}><a href="/">Accueil</a></li>
                    <li {% if services is defined %}class="active"{% endif %}><a href="{{ path('service') }}">Services</a></li>
                    <li {% if tarif is defined %}class="active"{% endif %}><a href="{{ path('tarifs') }}">Tarifs</a></li>
                    <li {% if faq is defined %}class="active"{% endif %}><a href="{{ path('faq') }}">F.A.Q</a></li>
                    <li {% if contact is defined %}class="active"{% endif %}><a href="{{ path('contact') }}">Contact</a></li>
                    <li {% if reservation is defined %}class="active"{% endif %}><a href="{{ path('reservation') }}">Réservation</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons" style="color: white !important;">menu</i></a>
            </div>

        </nav>
        </div>
    </header>
{% endblock %}

<main class="container">


    <ul id="nav-mobile" class="sidenav">
        <li {% if home is defined %}class="active"{% endif %}><a href="/">Accueil</a></li>
        <li {% if services is defined %}class="active"{% endif %}><a href="{{ path('service') }}">Services</a></li>
        <li {% if tarif is defined %}class="active"{% endif %}><a href="{{ path('tarifs') }}">Tarifs</a></li>
        <li {% if faq is defined %}class="active"{% endif %}><a href="{{ path('faq') }}">F.A.Q</a></li>
        <li {% if contact is defined %}class="active"{% endif %}><a href="{{ path('contact') }}">Contact</a></li>
        <li {% if reservation is defined %}class="active"{% endif %}><a href="{{ path('reservation') }}">Réservation</a></li>
    </ul>
    {% block body %}

    {% endblock %}
</main>

{% block footer %}
    <footer class="page-footer teal lighten-2">
        <div class="footer-copyright">
            <div class="container center-align">
                <h6>arena-park.ch | Copyright © 2014 | <a href="{{ path('conditions') }}" style="text-decoration: none; font-weight: bold; color: #004d40">Conditions Générales</a></h6>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/base') }}
{% endblock %}
    <script>
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
            return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.3&appId=347019838836163";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>

