<div style="margin-bottom: 30px; text-align: center">
    <img src="https://arena-park.ch/img/Logo.png" style="max-height: 100px">
</div>
<p style="font-size: 12px; position: fixed; right: 0px">www.arena-park.ch</p>
<h3 style="margin-bottom: 30px"><strong>{{ date }} Départ et arrivée des voitures</strong></h3>

<h4 style="margin-bottom: 10px">Depart: {{ reservations.carIn | length  }}</h4>
{% if reservations.carIn is not empty %}
<table style="width: 100%">
    <thead>
     <tr>
        <td><strong>Nom</strong></td>
        <td><strong>Téléphone</strong></td>
        <td><strong>Décollage</strong></td>
         <td><strong>Vol</strong></td>
         <td><strong>Prise en charge</strong></td>
        <td><strong>Plate</strong></td>
        <td><strong>Marque</strong></td>
     </tr>
    </thead>
    {% for key, data in reservations.carIn %}
     <tr>
        <td>{{ key + 1 }}.-{{ data.user.name }}</td>
         <td>{{ data.user.phone }}</td>
        <td>{{ data.dateFlyOut | date('m/d/Y H:i') }}</td>
        <td>{{ data.fly }}</td>
         <td>{{ data.dateCarIn | date('m/d/Y H:i') }}</td>
        <td>{{ data.car.plate }}</td>
        <td>{{ data.car.mark }}</td>
     </tr>
    {% endfor %}
</table>
    </br></br></br>
{% endif %}
 
<h4 style="margin-bottom: 10px">Arrivée: {{ reservations.carOut | length  }}</h4>
{% if reservations.carOut is not empty %}

    <table style="width: 100%">
        <thead>
        <tr>
            <td><strong>Nom</strong></td>
            <td><strong>Téléphone</strong></td>
            <td><strong>Arrivée</strong></td>
            <td><strong>Vol</strong></td>
            <td><strong>Restitution</strong></td>
            <td><strong>Plate</strong></td>
            <td><strong>Marque</strong></td>
        </tr>
        </thead>
        {% for key, data in reservations.carOut %}
            <tr>
                <td>{{ key + 1 }}.-{{ data.user.name }}</td>
                <td>{{ data.user.phone }}</td>
                <td>{{ data.dateFlyIn | date('m/d/Y H:i') }}</td>
                <td>{{ data.fly }}</td>
                <td>{{ data.dateCarOut | date('m/d/Y H:i') }}</td>
                <td>{{ data.car.plate }}</td>
                <td>{{ data.car.mark }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}